{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="" >
  <div class="card shadow-lg w-50 mx-auto bg-dark text-white" style="margin-top:100px;">
    <div class="card-body">
      <h5 class="card-title">Sign In</h5>
      <form class="card-text" method="POST" enctype="multipart/form-data">{% csrf_token %}
        {{ form|crispy }}
      <button class="btn btn-outline-info" type="submit">Submit</button>
      </form><br>
      <div class="border-top pt-3">
        <small class="text-muted">
            Need An Account? <a class="ml-2" href="{% url 'register' %}">Sign Up As Patient</a>
        </small>
        <small class="text-muted">
            <a class="ml-2" href="{% url 'pLogin' %}">Login As Patient</a>
        </small>
        <div>
          <a href="/password_reset">Forgot password?</a>
        </div>


    </div>
    </div>
  </div>
</div>
{% endblock content %}


