{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block title %}Add Doctor{% endblock %}
{% block content %}
{% if request.user.is_authenticated %}
<style>
#id_availability {
  margin-left: 80px;
}
</style>
<nav class="navbar sticky-top" style="background-color:#d18d10">
  <span class="navbar-brand">{{ request.user.username }}</span>

    <div class="navbar-nav navbar-expand-lg justify-content-end nav">
        <a class="nav-item nav-link btn btn-md px-1" href="{% url 'addDoc' %}" role="button">Add Doctor</a>
        <a class="nav-item nav-link btn btn-md px-1" href="{% url 'allDoc' %}" role="button">View Doctor</a>
        <a class="nav-item nav-link btn btn-md px-1" href="{% url 'allPatient' %}" role="button">View Patients</a>
        <a class="nav-item nav-link btn btn-md px-1" href="{% url 'allAppointment' %}" role="button">View Appointments</a>
        <a class="nav-item nav-link btn btn-md px-1" href="{% url 'logout' %}" role="button">Logout</a>
    </div>
</nav>

<div class="container-fluid" style="background-origin: origin;">
  <div class="card shadow-lg p-4 w-50 mx-auto" style="margin-top:10px">
    <div class="card-body">
      <h5 class="card-title">Doctor Registration</h5>
      <form class="card-text" method="POST" enctype="multipart/form-data">{% csrf_token %}
        {{ form|crispy }}
        {{ dform|crispy }}
      <button class="btn btn-outline-info" type="submit">Submit</button>
      </form>
    </div>
  </div>
</div>
{% endif %}
{% endblock %}

