{% extends 'base.html' %}
{% block title %}Appointments{% endblock %}
{% block content %}

{% if request.user.is_authenticated %}
<nav class="navbar sticky-top" style="background-color:#d18d10">
  <span class="navbar-brand">{{ request.user.username }}</span>
    <div class="navbar-nav navbar-expand-lg justify-content-end nav">
        <a class="nav-item nav-link btn btn-md px-1" href="{% url 'docAppointment' %}" role="button">My Appointments</a>
        <a class="nav-item nav-link btn btn-md px-1" href="{% url 'docPatient' request.user.id %}" role="button">My Patients</a>
        <a class="nav-item nav-link btn btn-md px-1" href="{% url 'docProfile' request.user.id %}" role="button">Profile</a>
        <a class="nav-item nav-link btn btn-md px-1" href="{% url 'logout' %}" role="button">Logout</a>
    </div>
</nav>

<div class="card mx-auto shadow-lg p-4 mb-4 bg-white w-75">
  <div class="card-body">
      <h2>Appointments</h2>
      <hr><p class="card-text">
      <table class="table-bordered table">
        <tr>
            <th>Patient Name</th>
            <th>Patient Phone</th>
            <th>Appointment Date</th>
            <th>Action</th>
        </tr>
        {% for appointment in appointments %}
            {% if not appointment.complete == 1 %}
                <tr>
                    <th>{{ appointment.patient }}</th>
                    <th>{{ appointment.patient.phone }}</th>
                    <th>{{ appointment.appointment_Date }}</th>
                    <th>
                        {% if appointment.approve == 1 %}
                            <form action="{% url 'docAptComplete' appointment.id %}" method="post">{% csrf_token %}
                                <input type="submit" class="btn btn-primary p-2 m-1" value="Complete">
                            </form>
                            {% else %}
                            <form action="{% url 'approveAppointment' appointment.id %}" method="post">{% csrf_token %}
                                <input type="submit" class="btn btn-success p-2 m-1" value="Approve">
                            </form>
                        {% endif %}

                    </th>
                </tr>
            {% endif %}
        {% endfor %}
        </table>
    </p>
  </div>
</div>
{% endif %}

<div class="card mx-auto shadow-lg p-4 mb-4 bg-white w-75">
  <div class="card-body">
      <h2>Appointments History</h2>
      <hr><p class="card-text">
      <table class="table-bordered table">
        <tr>
            <th>Patient Name</th>
            <th>Patient Phone</th>
            <th>Appointment Date</th>
        </tr>
        {% for appointment in appointments %}
            {% if appointment.complete == 1 %}
                <tr>
                    <th>{{ appointment.patient }}</th>
                    <th>{{ appointment.patient.phone }}</th>
                    <th>{{ appointment.appointment_Date }}</th>
                </tr>
            {% endif %}
        {% endfor %}
        </table>
    </p>
  </div>
</div>


{% endblock %}