{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}Update Doctor{% endblock %}

{% block content %}
<style>
#id_availability {
  margin-left: 80px;
}
</style>

{% if request.user.is_authenticated %}
<nav class="navbar sticky-top" style="background-color:#d18d10">
  <span class="navbar-brand">{{ request.user.username }}</span>
    <div class="navbar-nav navbar-expand-lg justify-content-end nav">
        <a class="nav-item nav-link btn btn-md px-1" href="{% url 'docAppointment' %}" role="button">My Appointments</a>
        <a class="nav-item nav-link btn btn-md px-1" href="{% url 'docPatient' request.user.id %}" role="button">My Patients</a>
        <a class="nav-item nav-link btn btn-md px-1" href="{% url 'docProfile' request.user.id %}" role="button">Profile</a>
        <a class="nav-item nav-link btn btn-md px-1" href="{% url 'logout' %}" role="button">Logout</a>
    </div>
</nav>

  <div class="card shadow-lg p-4 mt-5 w-50 mx-auto">
    <div class="card-body">
      <h3 class="card-title">Update Profile</h3>
      <form class="card-text" method="POST" enctype="multipart/form-data">{% csrf_token %}
        {{ form|crispy }}
          {{ dform|crispy }}
      <button class="btn btn-outline-info" type="submit">Update</button>
      </form>
    </div>
  </div>
{% endif %}
{% endblock %}